title = "Genres"
url = "/genres/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Andytan\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "genre_title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ attribute(record, displayColumn) }}</h2>

    <h3>Genres</h3>
    {% for movie in record.movies %}
        <a href="/reconflix/movie/{{ movie.slug }}">{{ movie.name }}</a> <br/>
    {% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}