title = "Movies"
url = "/movies/:page?"
layout = "default"
is_hidden = 0

==

<?php
    use Andytan\Movies\Models\Movie;
    function onStart() {
        $this['movies'] = Movie::orderBy('year', 'desc')->paginate(20);
        $this['name'] = Input::get('name');
        if ($this['name']) {
            $this['movies'] = Movie::where('name', 'like', '%'.$this['name'].'%')->get();
        }
    }

?>

==


<ul class="record-list">
    {% for movie in movies %}
        <li>
            <h3>
                <a href="/reconflix/movie/{{ movie.slug }}">
                {{ movie.name }} - {{ movie.year }}
                </a>
            </h3>
            {{ html_limit(movie.description, 150)|raw }}
        </li>
    {% else %}
        <li class="no-data">No movies found</li>
    {% endfor %}
</ul>

<div>
    {{ movies.render | raw }}
</div>

<div class="row">
    <div class="col-md-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">{{ movie.name }} </h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

            {{ movie.description|raw }}
        </div><!-- /.blog-post -->

        <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">

        <div class="p-3">
            <h3>Actors</h3>

            <ul>
                {% for actor in movie.actors %}
                <li> {{ actor.name }} {{ actor.lastname }} </li>
                {% endfor %}
            </ul>
        </div>

        <div class="p-3">
            <img src="{{ movie.poster.thumb(200,auto) }}" />
        </div>

        <div class="p-3 mb-3 bg-light rounded">
            <ul class="gallery clearfix">
                {% for image in movie.movie_gallery %}
                <li>
                    <a href="{{ image.path }}">
                        <img src="{{ image.thumb(80,80, {'mode':'crop'}) }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside><!-- /.blog-sidebar -->

</div>